<!DOCTYPE html>
<html lang="en">
  <!--<div *ngIf="!loggedIn">
    <font color="red">Your Session is expired ! <a href="/login">Login</a></font>
    </div> -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="assets/img/logo/logo.png" rel="icon">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>QuizMaker - Dashboard</title>

</head>

<body id="page-top">


<div >
  <div id="wrapper">
    <!-- Sidebar -->
   <sidebar-comp></sidebar-comp>
    <!-- Sidebar -->

    <script>

$("#sidebarToggle, #sidebarToggleTop").on('click', function(e) {
    $("body").toggleClass("sidebar-toggled");
    $(".sidebar").toggleClass("toggled");
    if ($(".sidebar").hasClass("toggled")) {
      $('.sidebar .collapse').collapse('hide');
    };
  });


    </script>
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbar topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                <form class="navbar-search">
                  <div class="input-group">
                    <input type="text" class="form-control bg-light border-1 small" placeholder="What do you want to look for?"
                      aria-label="Search" aria-describedby="basic-addon2" style="border-color: #3f51b5;">
                    <div class="input-group-append">
                      <button class="btn btn-primary" type="button">
                        <i class="fas fa-search fa-sm"></i>
                      </button>
                    </div>
                  </div>
                </form>
              </div>
            </li>
            
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-bell fa-fw"></i>
                <div *ngIf="activityLog.reviewingQuiz.length>0 || activityLog.invigilatingQuiz.length>0 || activeQuizCount>0 || expiredQuizCount>0 || upcomingQuizCount>0 || activeSurveyCount>0 ">
                <span class="badge badge-danger badge-counter">{{activityLog.reviewingQuiz.length+activityLog.invigilatingQuiz.length+activeQuizCount+expiredQuizCount+upcomingQuizCount+upcomingSurveyCount+activeSurveyCount}}</span>
              </div>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="alertsDropdown">
                <h6 class="dropdown-header">
                  Alerts Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="quizCreate">
                  <div class="mr-3">
                    <div class="icon-circle bg-primary">
                      <i class="fas fa-comment text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500"></div>
                    <span class="font-weight-bold">You have  {{activityLog.reviewingQuiz.length}} quiz to review </span>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-search text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500"></div>
                   You are Invigilating {{activityLog.invigilatingQuiz.length}} quiz
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" [routerLink]="['/quiz-notification', 'activeQuiz']"  >
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-tasks text-white"></i>
                    </div>
                  </div>
                  <div *ngIf="activeQuizCount>0">
                    <div class="small text-gray-500"></div>
                 <span *ngIf="activeQuizCount>0" > You have  {{activeQuizCount}} active quizes to attend</span>
                  </div>
                  <div *ngIf="activeQuizCount==0"class="small text-gray-500">
                    <div class="small text-gray-500"></div>
                  You dont have any quiz to attend
                 </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" [routerLink]="['/quiz-notification', 'upcomingQuiz']">
                  <div class="mr-3">
                    <div *ngIf="upcomingQuizCount>0" class="icon-circle bg-warning">
                      <i class="fas fa-arrow-right text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500"></div>
                    <span *ngIf="upcomingQuizCount>0" > You have  {{upcomingQuizCount}} upcoming quizes</span>  
                  </div>
                </a>
                <a *ngIf="showAllMsgFlag" class="dropdown-item d-flex align-items-center" [routerLink]="['/quiz-notification', 'expiredQuiz']">
                  <div class="mr-3">
                    <div class="icon-circle bg-danger">
                      <i class="fas fa-hourglass-end text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500"></div>
                    <span *ngIf="expiredQuizCount>0" >You have  {{expiredQuizCount}} expired quizes</span>   
                  </div>
                </a>
                <a  *ngIf="showAllMsgFlag" class="dropdown-item d-flex align-items-center" [routerLink]="['/quiz-notification', 'upcomingSurvey']">
                  <div class="mr-3">
                    <div *ngIf="upcomingSurveyCount>0" class="icon-circle bg-warning">
                      <i class="fas fa-hourglass-end text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500"></div>
                    <span *ngIf="upcomingSurveyCount>0" >   You have  {{upcomingSurveyCount}} upcoming Surveys</span>
                  </div>
                </a>
                <a *ngIf="showAllMsgFlag" class="dropdown-item d-flex align-items-center" [routerLink]="['/quiz-notification', 'activeSurvey']">
                  <div class="mr-3">
                    <div class="icon-circle bg-success">
                      <i class="fas fa-poll text-white"></i>
                    </div>
                  </div>
                  <div>
                    <div class="small text-gray-500"></div>
                   You have  {{activeSurveyCount}} active Surveys
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" [routerLink]="['/quiz-notification', 'activeSurvey']">
                  <div class="mr-3">
                   <!-- <div class="icon-circle bg-warning">
                      <i class="fas fa-exclamation-triangle text-white"></i>
                    </div> -->
                  </div>
                <!-- <div>
                    <div class="small text-gray-500">December 2, 2019</div>
                    Spending Alert: We've noticed unusually high spending for your account.
                  </div>-->
                </a>
                <a id="alertsDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" class="dropdown-item text-center small text-gray-500" (click)="showAllMsg()">Show All Messages</a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-envelope fa-fw"></i>
                <span class="badge badge-warning badge-counter">2</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Message Center
                </h6>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="assets/img/man.png" style="max-width: 60px" alt="">
                    <div class="status-indicator bg-success"></div>
                  </div>
                  <div class="font-weight-bold">
                    <div class="text-truncate">Hi there! I am wondering if you can help me with a problem I've been
                      having.</div>
                    <div class="small text-gray-500">Udin Cilok · 58m</div>
                  </div>
                </a>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <div class="dropdown-list-image mr-3">
                    <img class="rounded-circle" src="assets/img/girl.png" style="max-width: 60px" alt="">
                    <div class="status-indicator bg-default"></div>
                  </div>
                  <div>
                    <div class="text-truncate">Am I a good boy? The reason I ask is because someone told me that people
                      say this to all dogs, even if they aren't good...</div>
                    <div class="small text-gray-500">Jaenab · 2w</div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
              </div>
            </li>
            <li class="nav-item dropdown no-arrow mx-1">
              <a class="nav-link dropdown-toggle" href="#" id="messagesDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-tasks fa-fw"></i>
                <span class="badge badge-success badge-counter">3</span>
              </a>
              <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="messagesDropdown">
                <h6 class="dropdown-header">
                  Task
                </h6>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Design Button
                      <div class="small float-right"><b>50%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Make Beautiful Transitions
                      <div class="small float-right"><b>30%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-warning" role="progressbar" style="width: 30%" aria-valuenow="30"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item align-items-center" href="#">
                  <div class="mb-3">
                    <div class="small text-gray-500">Create Pie Chart
                      <div class="small float-right"><b>75%</b></div>
                    </div>
                    <div class="progress" style="height: 12px;">
                      <div class="progress-bar bg-danger" role="progressbar" style="width: 75%" aria-valuenow="75"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </a>
                <a class="dropdown-item text-center small text-gray-500" href="#">View All Taks</a>
              </div>
            </li>
            <div class="topbar-divider d-none d-sm-block"></div>
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" [src]="getProfileImage()" style="max-width: 60px">
                <span class="ml-2 d-none d-lg-inline text-white small">{{username }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" [routerLink]="['/profile']">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" [routerLink]="['/activityLog-comp']">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="javascript:void(0);" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Dashboard ,Welcome Mr {{username }}  </h1>
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="./">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard  </li>
            </ol>
          </div>
          <quiz-carousel></quiz-carousel>
          <div class="row mb-3">
            <!-- Earnings (Monthly) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Activities</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/activity">{{activityList.length>0?activityList.length:'Create Activity'}}</a></div>

                    </div>
                    <div class="col-auto">
                      <i class="fas fa-briefcase fa-2x text-primary"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Earnings (Annual) Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Categories</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="/categories">{{categoryList.length > 0 ? categoryList.length :'Create Category' }}</a></div>

                    </div>
                    <div class="col-auto">
                      <i class="fas fa-flask fa-2x text-success"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
           
            <!-- New User Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Quiz</div>
                      <div  class="h5 mb-0 mr-3 font-weight-bold text-gray-800"><a href="/quizCreate">{{quizList.length}}</a></div>

                    </div>
                    <div class="col-auto">
                      <i class="fas fa-question-circle fa-2x text-info"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Pending Requests Card Example -->
            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Pending Reviews</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="quizCreate">{{activityLog.reviewingQuiz.length}}</a></div>

                    </div>
                    <div class="col-auto">
                      <i class="fas fa-comments fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Question Bank</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800"><a href="questionBank"> {{qBankCountTotal}}</a></div>

                    </div>
                    <div class="col-auto">
                      <i class="fas fa-piggy-bank fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1"><a href="analysis">Analysis</a></div>


                    </div>
                    <div class="col-auto">
                      <i class="fas fa-bar-chart fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-xl-3 col-md-6 mb-4">
              <div class="card h-100">
                <div class="card-body">
                  <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-uppercase mb-1">Survey</div>
                      <div class="text-xs font-weight-bold text-uppercase mb-1"><a href="survey">{{surveyList.length}}</a></div>


                    </div>
                    <div class="col-auto">
                      <i class="fas fa-vote-yea fa-2x text-warning"></i>
                    </div>
                  </div>
                </div>
              </div>
            </div>


           
            <!-- Invoice Example -->
            <div class="col-xl-8 col-lg-7 mb-4">
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Quiz Result by User {{username}} </h6>
                  <a class="m-0 float-right btn btn-danger btn-sm" (click)="viewMoreRows()" >View More <i
                      class="fas fa-chevron-right"></i></a>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>Quiz ID</th>
                        <th>Survey ID</th>
                        <th>Quiz Grade</th>
                        <th>Score</th>
                        <th>Result</th>
                        <th>Time Taken(In Sec)</th>
                        <th>Max Attempt Left</th>
                        <th>Survey Participated</th>
                      </tr>
                    </thead>
                    <tbody >

                      <tr  *ngFor="let quizuser of quizUserListViewLess">
                        <td *ngIf="!viewMoreResultRowFlg" >{{quizuser.quiz_id}}</td>
                        <td *ngIf="!viewMoreResultRowFlg">{{quizuser.survey_id}}</td>
                        <td *ngIf="!viewMoreResultRowFlg">{{quizuser.grade}}</td>
                        <td *ngIf="!viewMoreResultRowFlg">{{quizuser.score}}</td>
                        <td *ngIf="!viewMoreResultRowFlg"><span style="color: aliceblue;"
                          [ngClass]="{'badge-success badge': quizuser.result === 'PASS',
                          ' badge badge-danger': quizuser.result === 'FAIL'}">
{{quizuser.result}}</span></td>
                        <td *ngIf="!viewMoreResultRowFlg">{{quizuser.completion_time}}</td>
                        <td *ngIf="!viewMoreResultRowFlg">{{quizuser.max_attempt_left}}</td>
                        <td *ngIf="!viewMoreResultRowFlg">{{quizuser.surveyParticipated}}</td>
                      </tr>

          
                      <tr  *ngFor="let quizuser of quizUserList;let i=index">
                        <td *ngIf="viewMoreResultRowFlg" >{{quizuser.quiz_id}}</td>
                        <td *ngIf="viewMoreResultRowFlg">{{quizuser.survey_id}}</td>
                        <td *ngIf="viewMoreResultRowFlg" >{{quizuser.grade}}</td>
                        <td *ngIf="viewMoreResultRowFlg" >{{quizuser.score}}</td>
                        <td *ngIf="viewMoreResultRowFlg"><span style="color: aliceblue;"
                          [ngClass]="{'badge-success badge': quizuser.result === 'PASS',
                          ' badge badge-danger': quizuser.result === 'FAIL'}">
{{quizuser.result}}</span></td>
                        <td *ngIf="viewMoreResultRowFlg">{{quizuser.completion_time}}</td>
                        <td *ngIf="viewMoreResultRowFlg">{{quizuser.max_attempt_left}}</td>
                        <td *ngIf="viewMoreResultRowFlg">{{quizuser.surveyParticipated}}</td>
                      </tr>
                   
                    </tbody>
                  </table>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>
  
           <!--<div *ngIf="showDialog">

             <session-warning (timerreset)="resetTimer($event)"  [sesionWarningflag]="true" [timer]="timer" [username]="username" [userid]="userid"></session-warning>
  
            
          </div> -->

          <div *ngIf="showNotice">

            <session-warning [sesionExpiryflag]="true" [timer]="timer" [username]="username" [userid]="userid"></session-warning>

          </div>

            <!-- Message From Customer-->
            <div class="col-xl-4 col-lg-5 ">
              <div class="card">
                <div class="card-header py-4 bg-primary d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-light">Message From Customer</h6>
                </div>
                <div>
                  <div class="customer-message align-items-center">
                    <a class="font-weight-bold" href="#">
                      <div class="text-truncate message-title">Hi there! I am wondering if you can help me with a
                        problem I've been having.</div>
                      <div class="small text-gray-500 message-time font-weight-bold">Udin Cilok · 58m</div>
                    </a>
                  </div>
                  <div class="customer-message align-items-center">
                    <a href="#">
                      <div class="text-truncate message-title">But I must explain to you how all this mistaken idea
                      </div>
                      <div class="small text-gray-500 message-time">Nana Haminah · 58m</div>
                    </a>
                  </div>
                  <div class="customer-message align-items-center">
                    <a class="font-weight-bold" href="#">
                      <div class="text-truncate message-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit
                      </div>
                      <div class="small text-gray-500 message-time font-weight-bold">Jajang Cincau · 25m</div>
                    </a>
                  </div>
                  <div class="customer-message align-items-center">
                    <a class="font-weight-bold" href="#">
                      <div class="text-truncate message-title">At vero eos et accusamus et iusto odio dignissimos
                        ducimus qui blanditiis
                      </div>
                      <div class="small text-gray-500 message-time font-weight-bold">Udin Wayang · 54m</div>
                    </a>
                  </div>
                  <div class="card-footer text-center">
                    <a class="m-0 small text-primary card-link" href="#">View More <i
                        class="fas fa-chevron-right"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--Row-->

          <div class="row">
            <div class="col-lg-12 text-center">

            </div>
          </div>
          
         
         
          <!-- Modal Logout -->
          <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelLogout"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabelLogout">Ohh No!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to logout?</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Cancel</button>
                  <a  (click)="logout()" data-dismiss="modal" class="btn btn-primary">Logout</a>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!---Container Fluid-->
      </div>
      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
         
          </div>
        </div>
      </footer>
      <!-- Footer -->
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <script src="assets/vendor/jquery/jquery.min.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/jquery-easing/jquery.easing.min.js"></script>

<script src="assets/js/ruang-admin.min.js"></script>



</div>

</body>


</html>
