<ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
    <div class="sidebar-brand-icon">
      <img src="assets/img/logo/logo2.png">
    </div>
    <div class="sidebar-brand-text mx-3">RuangAdmin</div>
  </a>
  <hr class="sidebar-divider my-0">
  <li class="nav-item active">
    <a class="nav-link" href="index">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>
  <hr class="sidebar-divider">
  <div class="sidebar-heading">
    Features
  </div>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
      aria-expanded="true" aria-controls="collapseBootstrap">
      <i class="far fa-fw fa-window-maximize"></i>
      <span>Quiz</span>
    </a>
    <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Quiz</h6>
        <a class="collapse-item" href="quizCreate">Edit Question</a>
        <a class="collapse-item" href="quizCreate">Manage Quiz</a>
        <a class="collapse-item" href="quizCreate">Grading</a>
        <a class="collapse-item" href="quizCreate">Status</a>

      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
      aria-controls="collapseForm">
      <i class="fab fa-fw fa-wpforms"></i>
      <span>Activity</span>
    </a>
    <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Activitiy</h6>
        <a class="collapse-item" href="/activity">Add Activity</a>
        <a class="collapse-item" href="/activity">Edit Activity</a>
      </div>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTable" aria-expanded="true"
      aria-controls="collapseTable">
      <i class="fas fa-fw fa-table"></i>
      <span>Categories</span>
    </a>
    <div id="collapseTable" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Categories</h6>
        <a class="collapse-item" href="/categories">Add Category</a>
        <a class="collapse-item" href="/categories">Edit Category</a>
      </div>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseAdmin" aria-expanded="true"
      aria-controls="collapseTable">
      <i class="fas fa-fw fa-tasks"></i>
      <span>Admin</span>
    </a>
    <div id="collapseAdmin" class="collapse" aria-labelledby="headingTable" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <h6 class="collapse-header">Admin</h6>
        <a class="collapse-item" href="/role-management">Role Management</a>
       
      </div>
    </div>
  </li>


  <li class="nav-item">
    <a href="analysis" class="nav-link" >
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Report</span>
    </a>
  </li>
 <!--   <li class="nav-item">
    <a class="nav-link" href="charts.html">
      <i class="fas fa-fw fa-chart-area"></i>
    <span>Publish</span>
    </a>
  </li> -->
  <hr class="sidebar-divider">
  <div class="version" id="version-ruangadmin"></div>
</ul>
